<style>
hr.plugmein { clear: none;}
.disabled { color: gray;text-decoration: line-through;}
.plugmein tr:hover { box-shadow: inset 0px 0px 0px 1px #7D6A6A;}
.s-plugmein-panel { display: block;position: fixed;bottom: 0;left: 0;right: 0;background: #fff;box-shadow: 0 -6px 10px -10px #AAAAAA;z-index: 1052;padding-left: 40%;}
</style>
<div id="s-plugmein-form" class="plugmein">
    <h2>[`Plugin Manager`]</h2>
    <span id = "plugmein-error"></span>
    <button class = "button" id="plugmein-checkAll" title="[`Select all`]">☑</button>| 
    <button class = "button" id="plugmein-uncheckAll" title="[`Select none`]">☐</button>
    <a href="?plugin=plugmein&id=savelist" class="float-right" id="plugmein-savelist" title="[`Save list`]"><i class="icon16 download"></i>[`Save list`]</a>
    <hr class="plugmein">
    <form id="plugmein-form" method="POST" action="?plugin=plugmein"> 
    {if empty($plugin_list)}
        <h3> [`No plugins available`]</h3> 
    {else}
        {$wa->csrf()}
        <table class="zebra plugmein"> 
            {foreach $plugin_list as $plugin}
                <tr {if !$plugin.active}class="disabled"{/if}>
                    <td><input type="checkbox" name="{$plugin.id}" id="{$plugin.id}" value="1" {if $plugin.active}checked="checked"{/if}></td>
                    <td><label for="{$plugin.id}">&nbsp;{$plugin.name|default: $plugin.id}&nbsp;<span> {$plugin.description|default: ''}</span></label></td>
                    {if $installer}
                    <td><span style="float: right;"><a title="{$plugin.name|default: $plugin.id}" href="{$wa_backend_url}installer/#/plugins/shop/{$plugin.id}/" target="_blank">{_wp("Go to Installer")}</a></span></td>
                    {/if}
                </tr>
            {/foreach}
        </table> {/if}
        <hr class="plugmein">
        <div class="block bordered-top s-plugmein-panel">
            <input type="submit" class="green button" value="[`Save`]">
        </div>
    </form>
</div>

<div>
    <h2>[`Hooks`]</h2>
    <table class="zebra">
        {foreach $handlers as $hook => $plugin}
            <tr>
                <td>{$hook}</td>
                <td>{if is_array($plugin)}
                    {foreach $plugin as $handler}
                        {$plugin_list[$handler].name|default:$plugin_list[$handler].id}<br>
                    {/foreach}
                {else}
                    {$plugin_list[$plugin].name|default:$plugin_list[$plugin].id}
                {/if}
                </td>
            </tr>
        {/foreach}
    </table>
</div>
<script>
/*global $*/

    $('#plugmein-checkAll').click(function() {
        $('#plugmein-form input[type="checkbox"]').prop('checked', true);
    });

    $('#plugmein-uncheckAll').click(function() {
        $('#plugmein-form input[type="checkbox"]').prop('checked', false);
    });

    $('#plugmein-form').on('submit', function(e){
        e.preventDefault();
        var fields = $(this).serializeArray();
        fields.push({ "name": 'id', "value": 'run'});
        /* Because serializeArray() ignores unset checkboxes and radio buttons: */
        fields = fields.concat(
                $('input[type=checkbox]:not(:checked)', $(this)).map(
                        function() {
                            return { "name": this.name, "value": 0};
                        }).get()
        );
        $.post($(this).attr('action'), fields).done(function(){
            $.plugins.dispatch('#/plugmein/', true);
        });
    });
</script>
